// main: ../style.less

.about {
  margin: 8rem 0;
  padding-bottom: 1rem;

  border-bottom: 1px solid fade(@gray-light, 30%);
}

.about__inner {
  display: flex;
  max-width: 1100px;
}

.about__photo {
  position: relative;
  width: 50%;
}

.about__content {
  padding-left: 3.2rem;
  width: 50%;
}

.about__title {
  font-size: 3rem;
  color: @black;
  font-weight: 700;
  text-transform: uppercase;
}

.about__bigtitle {
  margin-bottom: 1.5rem;
  position: relative;
  left: -10px;

  line-height: 1.1;
  font-size: 6rem;
  color: fade(@black, 15%);
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 2.8rem;

  font-size: 0.8rem;
  color: @gray;
  font-weight: 300;
  line-height: 2;
}

.about__photo-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;

  z-index: 2;
}
